/* Contact Section */
.contact-section {
    padding: 60px 20px;
    /* background-color: #F9F3EF; */
}

.contact-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    align-items: flex-start;
}

/* Left Side: Contact Details */
.contact-details {
    flex: 1;
    min-width: 300px;
    padding: 20px;
}

.contact-details h2 {
    font-family: 'Great Vibes', cursive;
    font-size: 2.5rem;
    color: var(--primary);
    margin-bottom: 15px;
}

.contact-details p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 20px;
}

.contact-info {
    list-style: none;
    padding: 0;
    margin: 0 0 20px;
}

.contact-info li {
    font-size: 1rem;
    color: #333;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.contact-info li i {
    margin-right: 10px;
    color: var(--primary);
}

.social-links a {
    display: inline-block;
    margin-right: 10px;
    font-size: 1.5rem;
    color: var(--primary);
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: var(--primary);
}


/* Right Side: Contact Form */
.contact-form-container {
    flex: 1;
    min-width: 300px;
    padding: 20px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.contact-form-container h2 {
    font-family: 'Great Vibes', cursive;
    font-size: 2.5rem;
    color: var(--primary);
    margin-bottom: 15px;
}

.contact-form .form-group {
    margin-bottom: 20px;
    text-align: left;
}

.contact-form label {
    display: block;
    font-size: 1rem;
    font-weight: 500;
    color: var(--dark);
    margin-bottom: 8px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px 15px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: var(--gold);
}

.contact-btn {
    background: var(--primary);
    color: white;
    padding: 12px 30px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px #8bae82;
    font-size: 1.1rem;
    border: 2px solid var(--gold);
    border-radius: 34px 10px 34px 10px;
    float: right;
}

.contact-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 20px #8bae82;
    background: var(--gold-light);
    border-color: var(--gold-light);
    color: var(--primary-light);
}