	
<!-- Waypoints -->
<script src="{{assets}}/js/jquery.waypoints.min.js"></script>
<!-- Stellar Parallax -->
<script src="{{assets}}/js/jquery.stellar.min.js"></script>
<!-- Carousel -->
<script src="{{assets}}/js/owl.carousel.min.js"></script>
<!-- countTo -->
<script src="{{assets}}/js/jquery.countTo.js"></script>
<!-- Magnific Popup -->
<script src="{{assets}}/js/jquery.magnific-popup.min.js"></script>

<script src="{{assets}}/js/magnific-popup-options.js"></script>
<!-- Main -->
<script src="{{assets}}/js/main.js"></script>
<!-- Span flash (from wesbos) -->
<script src="{{assets}}/js/span-flash.js"></script>

