	{{#is basename "make_resume" }}	
	{{else}}
	{{#is basename "make_projects" }}	
	{{else}}

	<footer id="fh5co-footer" class="fh5co-bg" style="background-image: url(assets/images/img_bg_1.jpg);" role="contentinfo">
		<div class="overlay"></div>
					<!-- 
					<div class="row row-pb-md">
		
					<div class="col-md-4 fh5co-widget">
						<h3>A Little More About Me.</h3>
						<p>...</p>
						<p><a class="btn btn-primary" href="#">Contact Me</a></p>
					</div>
					<div class="col-md-8">
						<h3>Links</h3>
						<div class="col-md-4 col-sm-4 col-xs-6">
							<ul class="fh5co-footer-links">
								<li><a href="#">Cardio</a></li>
								<li><a href="#">Body Building</a></li>
								<li><a href="#">Yoga</a></li>
								<li><a href="#">Boxing</a></li>
								<li><a href="#">Running</a></li>
							</ul>
						</div>
		
					</div> 
				</div>
			-->

			<div class="row">
				<div class="col-md-12 text-center">

					<p>
						<small class="block"> Made with ♥ by Udayraj </small> 
					</p>
					<p>
						<ul class="fh5co-social-icons">
							<!-- <li><a href="https://twitter.com/udayraj_123" target="_blank"><i class="icon-twitter"></i></a></li> -->
							<li><a href="https://github.com/udayraj123/" target="_blank"><i class="icon-github"></i></a></li>
							<li><a href="https://www.linkedin.com/in/udayraj123/" target="_blank"><i class="icon-linkedin"></i></a></li>
							<li><a href="https://facebook.com/udayraj.deshmukh" target="_blank"><i class="icon-facebook"></i></a></li>
							<li><a href="https://udayrajon.wordpress.com" target="_blank"><i class="icon-quote"></i></a></li>
						</ul>
					</p>
					<br>
					<a target="_blank" href="https://stackoverflow.com/users/6242649/udayraj-deshmukh">
						<img src="https://stackoverflow.com/users/flair/6242649.png?theme=dark" width="208" height="58" alt="Udayraj on StackOverflow" title="Udayraj on StackOverflow">
					</a>
					&emsp;
					<!-- Place this tag where you want the button to render. -->
					<!-- <a class="github-button" href="https://github.com/udayraj123" data-show-count="true" aria-label="Follow udayraj123@GitHub">Follow @udayraj123</a> -->
					<a class="github-button" href="https://github.com/udayraj123" data-show-count="true" aria-label="Follow udayraj123@GitHub"><i class="icon-github"></i> Follow on GitHub</a>

						<!-- <a href="https://stackexchange.com/users/8080680">
							<img src="https://stackexchange.com/users/flair/8080680.png?theme=dark" width="208" height="58" alt="Udayraj Deshmukh on Stack Exchange" title="Udayraj Deshmukh on Stack Exchange">
						</a>	 -->
						<br>
						<br>
						{{#unless (basename "index")}}
						<p>
							<a href="https://www.buymeacoffee.com/udayraj123" target="_blank">
								<img src="https://bmc-cdn.nyc3.digitaloceanspaces.com/BMC-button-images/custom_images/orange_img.png" alt="Buy Me A Coffee" style="height: auto !important;width: auto !important;" >
							</a>
							<!-- <a href="https://www.paypal.me/udayraj123" target="_blank"> <img src="https://www.paypalobjects.com/en_GB/i/btn/btn_donate_SM.gif" alt="paypal.me" style="height: auto !important;width: auto !important;" > </a> -->
						</p>
						{{/unless}}
					</div>
				</div>
			</footer>
			{{/is}}
			{{/is}}
			<div class="gototop js-top">
				<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
			</div>
