	
<!-- Waypoints (Part of parallax, used in main.js) -->
<script src="{{assets}}/js/jquery.waypoints.min.js"></script>

<!-- Stellar Parallax(Main scroll parallax) -->
<script src="{{assets}}/js/jquery.stellar.min.js"></script>
<!-- countTo -->
<!-- <script src="{{assets}}/js/jquery.countTo.js"></script> -->

<!-- Main -->
<script src="{{assets}}/js/main.js"></script>


{{#is basename "make_index" }}	
<!-- Carousel (for Class schedule) -->
<script src="{{assets}}/js/owl.carousel.min.js"></script>
{{else}}
{{#is basename "make_projects" }}	
<!-- Span flash (for autochanging yellow label, from wesbos) -->
<script src="{{assets}}/js/span-flash.js"></script>
{{/is}}
{{/is}}
