<footer id="fh5co-footer" class="fh5co-bg" style="background-image: url({{assets}}/images/img_bg_1.jpg);" role="contentinfo">
	<div class="overlay"></div>
	<div class="container">
		<div class="row row-pb-md">

			<!-- <div class="col-md-4 fh5co-widget">
				<h3>A Little More About Me.</h3>
				<p>...</p>
				<p><a class="btn btn-primary" href="#">Contact Me</a></p>
			</div>
			<div class="col-md-8">
				<h3>Links</h3>
				<div class="col-md-4 col-sm-4 col-xs-6">
					<ul class="fh5co-footer-links">
						<li><a href="#">Cardio</a></li>
						<li><a href="#">Body Building</a></li>
						<li><a href="#">Yoga</a></li>
						<li><a href="#">Boxing</a></li>
						<li><a href="#">Running</a></li>
					</ul>
				</div>

			</div> -->
		</div>

		<div class="row copyright">
			<div class="col-md-12 text-center">
				<a href="https://stackexchange.com/users/8080680">
					<img src="https://stackexchange.com/users/flair/8080680.png?theme=dark" width="208" height="58" alt="profile for Udayraj Deshmukh on Stack Exchange, a network of free, community-driven Q&amp;A sites" title="profile for Udayraj Deshmukh on Stack Exchange, a network of free, community-driven Q&amp;A sites">

					<br>
					<br>
					<p>
						<small class="block">Credits : &copy; 2016 Free HTML5. All Rights Reserved.</small> 
						<small class="block">Made with <a href="http://freehtml5.co/" target="_blank">FreeHTML5.co</a></small>
					</p>
					<p>
						<ul class="fh5co-social-icons">
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-linkedin"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
						</ul>
					</p>
				</div>
			</div>

		</div>
	</footer>
	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	
	<!-- Waypoints -->
	<script src="{{assets}}/js/jquery.waypoints.min.js"></script>
	<!-- Stellar Parallax -->
	<script src="{{assets}}/js/jquery.stellar.min.js"></script>
	<!-- Carousel -->
	<script src="{{assets}}/js/owl.carousel.min.js"></script>
	<!-- countTo -->
	<script src="{{assets}}/js/jquery.countTo.js"></script>
	<!-- Magnific Popup -->
	<script src="{{assets}}/js/jquery.magnific-popup.min.js"></script>

	<script src="{{assets}}/js/magnific-popup-options.js"></script>
	<!-- Main -->
	<script src="{{assets}}/js/main.js"></script>



</body>
</html>
